:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --alt-logo-color: #2196f3;
  --bcg-button-color: #f5f4fa;
  --alt-bcg-color: #f5f4fa;
  --primary-white-color: #fff;
  --footer-bcg-color: #2f303a;

  --transition-duration-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a {
  text-decoration: none;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

li {
  display: block;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Web Studio link */
.link-main {
  display: flex;
  align-items: center;
  margin-right: 93px;
}

.section-portfolio:first-child {
  padding-top: 94px;
  padding-bottom: 20px;
}

.section-portfolio .list.buttons {
  display: flex;
  justify-content: center;
}

.section-portfolio .section-button {
  color: var(--primary-title-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
}

/* Address list */
.address.list {
  justify-content: flex-end;
}

/* Buttons */
.list > .section-button:not(:last-child) {
  margin-right: 8px;
}

/* ===MAIN=== */
/* ===Cards=== */

.section-portfolio:last-child {
  margin-bottom: 94px;
}

.card-thumb {
  position: relative;
  width: 370px;
  overflow: hidden;
}

.card-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  margin: 0;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover .card-text {
  transform: translateY(0);
}

/* -- hover card complicated wariant-- */
/* .card-thumb::before {
  display: inline-block;
  position: absolute;
  content: '';
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-thumb:hover::before,
.card-thumb:focus::before {
  transform: translateY(-100%);
}

.card-thumb > p {
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0;

  padding: 63px 24px;

  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-thumb:hover p {
  transform: translateY(-100%);
} */

.card-content {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  justify-content: space-between;
  padding-bottom: 94px;
  padding: 0;
  margin: 0;
  /* outline: 1px solid tomato; */
}

.projects-list > .card {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  box-shadow: none;

  transition: box-shadow var(--transition-duration-cubic);
}

.projects-list > .card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list .title {
  color: var(--primary-title-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-list .type {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-top: 4px;
}

.projects-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list.buttons .button {
  display: inline-block;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  min-width: 73px;

  background-color: var(--bcg-button-color);
  color: var(--primary-title-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  box-shadow: none;

  transition: color, box-shadow,
    background-color var(--transition-duration-cubic);
}

.section-button .button:hover,
.section-button .button:focus {
  color: var(--primary-white-color);
  background-color: var(--alt-logo-color);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  outline: none;
}

.city-address {
  display: inline-block;
  margin-bottom: 9px;
}

.auth.mail {
  margin-bottom: 9px;
  display: inline-block;
}
